body{
    background-color:#001a66;

}

.booking{
    text-align:center;
    Background-color:rgb(0, 0, 0);
    size:relative;
    position:absolute;
    font-family:helvetica;
    top:40%;
    left:35%;
    color:white;
    padding-left:10px;
    padding-right:10px;
}